---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Connect">
  <p>email: grgthmsrgrs@gmail.com</p>
<p>
  LinkedIn: 
  <a href="https://www.linkedin.com/in/georgetrogers/" target="_blank" rel="noopener noreferrer" class="external-link">
    linkedin.com/in/georgetrogers
  </a>
</p>

<p>I’m based in southwest Florida. If you’re in the neighborhood, drop me a note.</p>

</BaseLayout>

