---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Working">
  <h4>Here's what's bouncing around in my head.</h4>
  <p>
    When and how to incorporate the graph view? 
    (Currently lives at 
    <a href="https://research-gopher.netlify.app/" target="_blank" rel="noopener noreferrer">
      Graph viewer demo
    </a>)
  </p>
  <p>How to get back to article from yesterday or last week? Graph view part of answer, but probably need a robust river view.</p>
  <p>Clean up RSS feeds (e.g. space news is behind paywall, remove). Add more (lists pending.)</p>
  <p>Figure out how to explain and share personal corpus.</p>
</BaseLayout>
